<div class="login">
   
    <div class="formContainer">
      <form (submit)="handleSubmit($event)">
        <h1>Welcome back</h1>
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
        <a routerLink="/register">Don’t have an account?</a>
      </form>
    </div>
  
   
    <div class="imgContainer">
      <img src="/background3.png" alt="Background" />
    </div>
  </div>