<div class="profile" >
  <app-error-pop-up/>
    <div class="details"[@slideInFromBottom] >
      <div class="wrapper">
        <div class="title">
          <h1>User Information</h1>
          <a routerLink="/profile/update">
            <button>Update Profile</button>
          </a>
        </div>
        <div class="info">
          <span>Avatar: <img [src]="currentUser.avatar || '/noavatar.jpg'" alt="" /></span>
          <span>Username: {{ currentUser.username }}</span>
          <span>Email: {{ currentUser.email }}</span>
        </div>
  
        <div class="title">
          <h1>My Posts</h1>
          <a routerLink="/create">
            <button>Create New Post</button>
          </a>
          <div class="posts">
            @if (userPosts.length > 0) {
                <div>
                    @for (post of userPosts; track $index) {
                        <app-card [item]="post" class="post" ></app-card>
                    }
                  </div>
            }@else {
                <p>No Posts Created Yet!</p>
            }
            
          </div>
        </div>
  
        <div class="title">
          <h1>Saved Posts</h1>
          <div class="posts">
            @if(savedPosts.length > 0){
                <div>
                    @for (post of savedPosts; track $index) {
                        <app-card [item]="post" class="post"></app-card>
                    }
                  </div>
            }@else {
                <p>No Saved Posts!</p>
            }
            
            <ng-template #noSavedPosts>
             
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container" >
      <div class="messages" [@slideInFromBottom]>
        <h1>Messages</h1>
        @if (chats.length > 0) {    
        <div>
          @for (chat of chats; track $index) {
            
          <div
            class="message" (click)="openChat(chat.otherUser?._id)"
          >
            <img
              [src]="(chat.otherUser?.avatar) || '/noavatar.jpg'"
              alt=""
            />
            <span>{{ chat.otherUser?.username }}</span>
            <p>{{ chat.messages[chat.messages.length - 1]?.text }}</p>
          </div>
        }
        </div>
        }@else {
          <p>No Messages!</p>
        }
      </div>
    </div>
  @if (isChatOpen) {
    <app-modal (onClose)="closeChat()">
      <app-chat ></app-chat>
    </app-modal>
  }
  </div>
  