<div class="profile">
  <app-error-pop-up/>
    <div class="details">
      <div class="wrapper">
        <div class="title">
          <h1>User Information</h1>
          <a routerLink="/profile/update">
            <button>Update Profile</button>
          </a>
        </div>
        <div class="info">
          <span>Avatar: <img [src]="currentUser.avatar || '/noavatar.jpg'" alt="" /></span>
          <span>Username: {{ currentUser.username }}</span>
          <span>Email: {{ currentUser.email }}</span>
        </div>
  
        <div class="title">
          <h1>My Posts</h1>
          <a routerLink="/create">
            <button>Create New Post</button>
          </a>
          <div class="posts">
            @if (userPosts.length > 0) {
                <div>
                    @for (post of userPosts; track $index) {
                        <app-card [item]="post" class="post"></app-card>
                    }
                  </div>
            }@else {
                <p>No Posts Created Yet!</p>
            }
            
          </div>
        </div>
  
        <div class="title">
          <h1>Saved Posts</h1>
          <div class="posts">
            @if(savedPosts.length > 0){
                <div>
                    @for (post of savedPosts; track $index) {
                        <app-card [item]="post" class="post"></app-card>
                    }
                  </div>
            }@else {
                <p>No Saved Posts!</p>
            }
            
            <ng-template #noSavedPosts>
             
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="messages">
        <h1>Messages</h1>
        <!-- <div *ngIf="chats.length > 0; else noChats">
          <div
            class="message"
            *ngFor="let chat of chats"
            (click)="openChat(chat._id, chat.userIds.find(user => user._id !== currentUser._id))"
          >
            <img
              [src]="(chat.userIds.find(user => user._id !== currentUser._id)?.avatar) || '/noavatar.jpg'"
              alt=""
            />
            <span>{{ chat.userIds.find(user => user._id !== currentUser._id)?.username }}</span>
            <p>{{ chat.messages[chat.messages.length - 1]?.text }}</p>
          </div>
        </div> -->
        <ng-template #noChats>
          <p>No Messages!</p>
        </ng-template>
      </div>
    </div>
  
    <!-- <app-modal *ngIf="isChatOpen" (close)="closeChat()">
      <app-chat
        [receiver]="chatReceiver"
        [chatId]="chatId"
        [currentUser]="currentUser"
        (close)="closeChat()"
      ></app-chat>
    </app-modal> -->
  </div>
  