<div class="register">
    <app-error-pop-up/>
    <div class="formContainer" [@slideInFromRight]>
      <form (submit)="handleSubmit($event)">
        <h1>Create an Account</h1>
        <input type="text" name="username" placeholder="Username" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Register</button>
        <a routerLink="/login">Already have an account?</a>
      </form>
    </div>
  

    <div class="imgContainer">
      <img src="/background2.png" alt="Background Image" [@slideInFromRight]/>
    </div>
  </div>