<div class="searchBar">
  <div class="type">
    <select
      name="fuelType"
      [value]="query.fuelType"
      (change)="handleChange($event, 'fuelType')"
    >
      @for (type of fuelTypes; track $index) {
      <option [value]="type">
        {{ type }}
      </option>
      }
    </select>
  </div>
  <div class="type">
    <select
      name="category"
      [value]="query.category"
      (change)="handleChange($event, 'category')"
    >
      @for (type of categories; track $index) {

      <option [value]="type">
        {{ type }}
      </option>
      }
    </select>
  </div>
  <div class="prices">
    <input
      type="text"
      placeholder="City"
      (input)="handleChange($event, 'city')"
    />
    <input
      type="number"
      placeholder="Min Price"
      (input)="handleChange($event, 'minPrice')"
    />
    <input
      type="number"
      placeholder="Max Price"
      (input)="handleChange($event, 'maxPrice')"
    />
    <button type="submit" (click)="search()">
      <img src="/search.png" alt="Search" />
    </button>
  </div>
</div>
